.App {
  text-align: center;
}

.login-btn {
  position: absolute;
  right: 15px;
  top: 15px;
}

.task-form {
  margin: 20px 0 40px;
}

.sort-select {
  margin: 0px 20px 20px 8px;
}

.pagination {
  justify-content: center;
  margin-top: 20px;
}